<p style="color: green"><%= notice %></p>

<%= render @author %>
<hr>
<h3>Фандомы</h3>
<%#= render @author.fandoms %>

<div>
  <%= link_to "Edit this author", edit_author_path(@author) %> |
  <%= link_to "Back to authors", authors_path %>

  <%= button_to "Destroy this author", @author, method: :delete %>
</div>
