<%= form_with(model: fandom_character) do |form| %>
  <% if fandom_character.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(fandom_character.errors.count, "error") %> prohibited this fandom_character from being saved:</h2>

      <ul>
        <% fandom_character.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :fandom_id, style: "display: block" %>
    <%= form.number_field :fandom_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
