<p style="color: green"><%= notice %></p>

<%= render @fandom_character %>

<div>
  <%= link_to "Edit this fandom character", edit_fandom_character_path(@fandom_character) %> |
  <%= link_to "Back to fandom characters", fandom_characters_path %>

  <%= button_to "Destroy this fandom character", @fandom_character, method: :delete %>
</div>
