<p style="color: green"><%= notice %></p>

<div class="About_Banner"></div>

<h1>Фандомы</h1>

<div class="Button">
  <%= link_to "New fandom", new_fandom_path %>
</div>

<div id="fandoms">
  <% @fandoms.each do |fandom| %>
    <%= link_to fandom, class: 'Card' do %>
      <%= render fandom %>
      <p>
        <strong>Автор:</strong>
        <%= render fandom.author%>
      </p>
      <p>
        <strong>Описание:</strong>
        <%= fandom.description %>
      </p>
    <% end %>
  <% end %>
</div>