<p style="color: green"><%= notice %></p>

<%= render @fandom %>
<p>
  <strong>Автор:</strong>
  <%= render @fandom.author%>
</p>
<p>
  <strong>Описание:</strong>
  <%= @fandom.description %>
</p>
<hr>

<h3>Комментарии</h3>
<%= render @fandom.comment%>

<div>
  <%= link_to "Edit this fandom", edit_fandom_path(@fandom) %> |
  <%= link_to "Back to fandoms", fandoms_path %>

  <%= button_to "Destroy this fandom", @fandom, method: :delete %>
</div>
