<h3>Меню</h3>
<nav class="M_Navlink">
    <%= link_to "Home", welcome_index_url %>
    <%= link_to "About", welcome_about_url %>
    <%= link_to "Fandoms", fandoms_url %>
    <%= link_to "Characters", fandom_characters_url %>
    <%= link_to "Categories", categories_url %>
    <%= link_to "Authors", authors_url %>
</nav>